<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>want-maysu.png</string>
		<key>want</key>
		<string>maysu美素10元无门槛优惠券</string>
		<key>location</key>
		<string>源自上海，源自内心对中国现代女性的赞美</string>
		<key>company</key>
		<string> 天猫</string>
	</dict>
	<dict>
		<key>image</key>
		<string>cp2.jpg</string>
		<key>want</key>
		<string>maysu美素10元无门槛优惠券</string>
		<key>location</key>
		<string>源自上海，源自内心对中国现代女性的赞美</string>
		<key>company</key>
		<string>天猫</string>
	</dict>
</array>
</plist>
